.slider {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.slider-img {
    margin: 1em;
    border-radius: 10%;
    box-shadow: 0 0 10px black;
}

@media screen and (max-width: 767px){
    .slider-img {
        width: 95%;
    }
}