.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 50%;
}

.contact {
    display: flex;
    flex-direction: column;
    
}

.contact input, select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}



#submit {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 40%;
}

.submit:hover {
    background-color: #45a049;
}
